#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Docker container manager
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
TimeoutStartSec=infinity
TasksMax=infinity
ExecStartPre=-/usr/bin/docker container create --name portainer-systemd -p 0.0.0.0:2001:9000/tcp -v /data/portainer:/data -v /var/run/docker.sock:/var/run/docker.sock docker.io/portainer/portainer-ce
ExecStart=/usr/bin/docker container start portainer-systemd --attach
ExecStop=/usr/bin/docker container stop portainer-systemd

[Install]
WantedBy=multi-user.target
